# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environment & Secrets
.env
.venv
env/
venv/
ENV/
*.key

# Local Media & Processing
uploads/
*.wav
*.mp3
*.m4a
*.jpg
*.jpeg
*.png

# OS & IDE
.DS_Store
.vscode/
.idea/
*.swp

# Docker
.docker/


ssh_private
ssh_private.pub

api_env.txt
*.env
*_env.txt
